.grow {
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 34px
    }

a[href], input[type="submit"], input[type="reset"], input[type="image"], label[for], select, button, .pointer {
    cursor: pointer
    }

form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, #FFF, #F6F6F6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F6F6F6));
    background-image: -moz-linear-gradient(top, #FFF, #F6F6F6);
    background-image: -o-linear-gradient(top, #FFF, #F6F6F6);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#F6F6F6)";
    background-image: linear-gradient(top, #FFF, #F6F6F6);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F6F6F6));
    background-image: -webkit-linear-gradient(#FFF, #F6F6F6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F6F6F6));
    background-image: -moz-linear-gradient(#FFF, #F6F6F6);
    background-image: -o-linear-gradient(#FFF, #F6F6F6);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#F6F6F6)";
    background-image: linear-gradient(#FFF, #F6F6F6);
    background-image: -webkit-linear-gradient(#FFF, #F6F6F6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F6F6F6));
    background-image: -moz-linear-gradient(#FFF, #F6F6F6);
    background-image: -o-linear-gradient(#FFF, #F6F6F6);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#F6F6F6)";
    background-image: linear-gradient(#FFF, #F6F6F6);
    background-image: -webkit-linear-gradient(top, #FFF, #F6F6F6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F6F6F6));
    background-image: -moz-linear-gradient(top, #FFF, #F6F6F6);
    background-image: -o-linear-gradient(top, #FFF, #F6F6F6);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#F6F6F6)";
    background-image: linear-gradient(top, #FFF, #F6F6F6)
    }

form input[type=text], form input[type=password], form textarea, form select {
    color: #555;
    padding: 4px;
    margin: 5px 0;
    text-shadow: 0 1px 1px #FFF;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD
    }

form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
    border: 1px solid #999
    }

form select {
    display: inline;
    padding: 0;
    text-shadow: none
    }

form option {
    padding: 3px;
    background: #FFF;
    }

