#table {
    margin: 2px 0 0 0;
    width: 100%
    }

#table tr.head {
    height: 20px;
    background: #fff
    }

#table tr.head td {
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    background: #eee;
    color: #4f6b72;
    font-weight: 700;
    text-align: center;
    padding: 4px 8px;
    text-shadow: 0 1px 0 #fff
    }

#table tr.head2 {
    height: 20px;
    background: #fff
    }

#table tr.head2 td {
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    border-top: 0;
    background: #eee;
    color: #4f6b72;
    font-weight: 700;
    text-align: center;
    padding: 4px 8px;
    text-shadow: 0 1px 0 #fff
    }

#table tr:hover {
    border: 1px solid #fff;
    background: #efefef
    }

#table tr.head td.depan, tr.isi td.depan {
    border-right: 0;
    border-left: 0;
    text-align: left
    }

#table tr.isi td {
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #d1d1d1;
    color: #4f6b72;
    padding: 4px 8px
    }

#num {
    background: #fff;
    border-right: 0;
    border-left: 0;
    border-bottom: 0 solid #ccc;
    border-top: 1px solid #ccc;
    margin: 2px 0;
    color: #4f6b72;
    font-weight: 700;
    text-align: center;
    padding: 0;
    text-shadow: 0 1px 0 #fff
    }

.num {
    background: #f2f2f2;
    border-right: 0;
    border-left: 0;
    border-bottom: 0 solid #ccc;
    border-top: 1px solid #ccc;
    margin: 5px 0;
    color: #4f6b72;
    font-weight: 700;
    text-align: center;
    padding: 4px 8px;
    text-shadow: 0 1px 0 #fff
    }

ul.paging {
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: #3b59aa
    }

ul.paging li {
    padding: 3px 7px 3px 7px;
    margin: 1px;
    display: inline;
    list-style: none;
    color: #3b59aa;
    background: #f2f2f2 url(../images/left-h2-bg.gif) repeat-x;
    border: 1px solid #e6e6e6
    }

ul.paging li:hover {
    padding: 3px 7px 3px 7px;
    margin: 1px;
    display: inline;
    list-style: none;
    color: #3b59aa;
    background: #f2f2f2 url(../images/left-h2-bg.gif) repeat-x;
    border: 1px solid #ccc
    }

ul.paging li.current {
    background-color: #369;
    color: #000
    }

ul.paging li a {
    font-weight: bold;
    color: #3b59aa;
    text-decoration: none
    }

ul.paging li a:hover {
    text-decoration: none
    }
	
table tr td.tools { width:60px !important; }

a.s-left,
a.s-right,
a.edit,
a.view,
a.delete{
	background-repeat:none;
	background-position:center 0px;
	width:17px;
	height:17px;
	text-indent:-9999px;
	display: inline-block;
}
span.s-left,
span.s-right,
span.apps,
span.blocks,

.enable,
.disable{
	background-repeat:none;
	background-position:center 0px;
	width:16px;
	height:16px;
	text-indent:-9999px;
	display: inline-block;
}

a.edit:hover,
a.view:hover,
a.delete:hover { background-position:center -17px; }

a.s-left	{ background-image: url('../images/sidebar-left.png'); }
a.s-right	{ background-image: url('../images/sidebar-right.png'); }
a.edit 		{ background-image: url('../images/icon_tool_edit.png'); }
a.view 		{ background-image: url('../images/icon_tool_view.png'); }
a.delete	{ background-image: url('../images/icon_tool_delete.png'); }

span.s-left	{ background-image: url('../images/sidebar-left.png'); }
span.s-right{ background-image: url('../images/sidebar-right.png'); }
span.apps	{ background-image: url('../images/apps.png'); }
span.blocks { background-image: url('../images/blocks.png'); }

.disable	{ background-image: url('../images/disable.png'); }
.enable	{ background-image: url('../images/enable.png'); }