/* 
   General 
------------------------------------------------------------------- */
body{
	font-family			:"Lucida Grande","Georgia",segoe ui,Trebuchet MS,verdana,Helvetica,Arial,Verdana,sans-serif;
	font-size			:11px;
	color				:#000;
	background			:#fff;
}
form1{
	margin:10px;
	padding:5px;
	/*
	border:1px solid #e6e6e6;
	background-color:#FAFAFA
	*/
}
input{
	font:.98em  Georgia,segoe ui, verdana, arial, sans-serif;
	color:#777;
	/*
	border:1px solid #e6e6e6;
	*/
}
select{
	font:.98em  Georgia,segoe ui, verdana, arial, sans-serif;
	color:#777;
	/*
	border:1px solid #f2f2f2;
	*/
}
textarea{
	font:.98em  Georgia,segoe ui, verdana, arial, sans-serif;
	color:#777;
	/*
	border:1px solid #e6e6e6;
	*/
}
input:hover,select:hover,textarea:hover,file:hover{
	/*
	border				:1px solid #4d6da5;
	*/
}
input:focus,select:focus,textarea:focus,file:focus{
	/*
	border				:1px solid #4d6da5; 
	background			:#ffffcc; 
	*/
	color				:#000;
}
code{
	font-family			:'Lucida Console', 'courier new', monospace;
	background			:#fafafa;
}
acronym{
	color				:#d000;
}
blockquote {
display					:block;
padding					:5px 30px 0 30px;
min-height				:10px;
border					:1px solid #f2f2f2;
font-style				:italic;
}
blockquote:before, blockquote:after {
color					:#69c;
display					:block;
font-size				:500%;
width					:20px;
height					:100%;
}
blockquote:before {
content					:open-quote;
height					:10px;
margin-left				:-0.55em;
}
blockquote:after {
content					:close-quote;
height					:30px;
margin-top				:-25px;
margin-left				:98%;
}

/***********************
	  layouts 
************************/
#wrap{
	background			:url(images/wrap.jpg) center repeat-y;
	width				:839px;
	height				:100%;
	margin				:0 auto; 
	margin-top			:-11px;
	text-align			:left
}
#wrap .wrap-top{
	background			:url(images/top.jpg) no-repeat; 
	height				:28px;
	width				:831px;
	margin-left			:4px;
	margin-top			:10px;
	margin-bottom		:-22px;
}
#wrap-content{
	height				:100%;
	margin				:0;
	text-align			:left
}
#content-wrap{
	clear				:both;
	margin				:0;
	padding				:0;
	padding-left		:5px;
	padding-right		:5px;
	background			:none
}
/* header */
#header{
	padding				:0;
	height				:198px;
	width				:821px;
	background			:url(images/header.jpg) top no-repeat; 
	margin-left			:9px;
}
/*logo*/
#header #text{
	position			:relative;
	margin				:0;
	padding				:0;
	top					:50px;
	left				:20px;
	background			:none;
	height				:50px;
	color				:#fff;
	width				:80%;
	text-align			:left;
}
#header .logo-ID{
	width				:210px;
	height				:100px;
	background			:url(images/Logo_System-ID.png) top no-repeat; 
}
#header .textlogo{
	font-size			:36px;
	text-shadow			:1px 1px 0 #000;
	color				:#fff;
	width				:100%;
	font-family			:"Cooper Std","Myriad Pro","Lucida Sans Unicode", "Lucida Grande", sans-serif
}
#header .slogan{
	font-size			:12px;
	text-shadow			:1px 1px 0 #000;
	color				:#fff;
}
/* menu tabs */
#header ul{
	z-index				:999999;
	margin				:0 -1px 0 0;
	padding				:113px 0 0 10px;
	list-style			:none;
	background			:url(images/menu.png) no-repeat right bottom; 
	height				:35px;
}
#header li{
	display				:inline;
	margin				:0;
	padding				:0
}
#header a{
	float				:left;
	background			:transparent;
	margin				:0;
	padding				:0 0 0 4px;
	text-decoration		:none
}
#header a span{
	float				:left;
	display				:block;
	background			:transparent;
	padding				:0 5px; 
	margin-left			:1px; 
	margin-right		:1px; 
	margin-top			:10px;
	color				:#4284b0;
	border-right		:1px solid #fff
}
/* Commented Backslash Hack hides rule from IE5-Mac */
#header a span{
	float				:none
}
/* End IE5-Mac hack */
#header a:hover span{
	color				:#cc0000;
	background			:none
}
#header a:hover{
	background-position	:0 -42px
}
#header a:hover span{
	background-position	:100% -42px
}
#header #current a{
	background-position	:0 -42px;
	color				:#FFF
}
#header #current a span{
	background-position	:100% -42px;
	color				:#FFF
}
/* end menu tabs */
/* left */
#sidebar{
	float				:left;
	width				:165px;
	margin				:0;
	padding				:0;
	padding-left		:13px;
	padding-right		:5px;
	display				:inline;
	padding-bottom		:9px;
}
#sidebar p,h1,h2,h3{
	margin				:5px 10px
}
/* right */
#rightbar {
	float				:right;
	width				:28%;
	padding				:0;
	margin				:0;
	display				:inline;
	margin-right		:15px; 
}
#rightbar p,h1,h2,h3{
	margin				:5px 10px
}
/*head box menu 1*/
h1.bg-box{
	background			:#f2f2f2 url(images/left-h2-bg.gif) repeat-x;
	padding				:3px;
	border				:1px solid #e6e6e6; 
	margin-bottom		:1px
}
.bg{
	background-color	:#e4e5e7;
	padding				:2px 5px 2px 10px;
	border				:1px solid #e4e5e7;
	min-height			:18px
}
ul.sidemenu{
	list-style			:none;
	margin				:0;
	padding				:0;
}
ul.sidemenu li{
	margin-bottom		:1px;
	border				:0 solid #f7f9fd
}
ul.sidemenu a{
	display				:block;
	color				:#333;
	text-decoration		:none;
	background			:#fff url(images/arrow2.gif) no-repeat; 
	margin-left			:2px;
	padding-left		:14px;
	min-height			:18px;
}
* html body ul.sidemenu a{
	height				:18px
}
ul.sidemenu a:hover{
	background			:transparent url(images/arrow2.gif) no-repeat;
	color				:#390;
	margin-left			:2px;
	padding-left		:14px;
	min-height			:18px;
}

/* main */
#main{
	float				:left;
	margin-left			:1px;
	border				:0;
	padding				:0;
	width				:47%;
	text-align			:left;
}
#main p,h1,h2,h3,h4{
	margin				:5px 0;
	text-align			:left
}
.post-footer{
	background-color	:#fbf6fb;
	padding				:5px;
	margin				:20px 0 0;
	border				:1px solid #f2f2f2;
	font-size			:10px;
}
.post-footer .waktu_posting{
	background			:url(images/old_clock.gif) no-repeat left center;
	padding-left		:20px;
	margin				:0 5px;
}
.post-footer .comments{
	background			:url(images/refresh.gif) no-repeat left center;
	padding-left		:20px;
	margin				:0 10px 0 5px;
}
.post-footer .readmore{
	background			:url(images/page_info.gif) no-repeat left center;
	padding-left		:20px;
	margin				:0 10px 0 5px;
}
/*head box menu 3*/
h1.border{
	background			:#f2f2f2 url(images/left-h2-bg.gif) repeat-x;
	padding				:3px;
	border				:1px solid #e6e6e6;
}
.bg{
	background			:#f2f2f2 url(images/left-h2-bg.gif) repeat-x;
	padding				:3px;
	border				:1px solid #e6e6e6;
}
.border{
	background			:transparant;
	border				:1px solid #f2f2f2;
	padding				:5px;
	margin				:5px 0
}

.post-img{
	float				:left;
	max-height			:100px;
	max-width			:70px;
	background			:#fff;
	border				:1px solid #ccc;
	padding				:3px;
	margin-top			:7px;
	margin-right		:5px
}
.post-img1{
	float				:left;
	max-height			:50px;
	max-width			:50px;
	background			:#fff;
	border				:1px solid #ccc;
	padding				:3px;
	margin-top			:3px;
	margin-right		:5px
}
.post-img3{
	float				:left;
	max-height			:100px;
	max-width			:70px;
	background			:#fff;
	border				:1px solid #ccc;
	padding				:3px;
	margin-top			:3px;
	margin-right		:5px
}
.post-img-item{
	float				:left;
	max-height			:260px;
	max-width			:260px;
	margin-top			:13px;
	margin-left			:4px;
	margin-right		:5px;
	padding				:2px
}
.post{
	padding				:0;
	background			:none;
	border				:1px solid #f2f2f2;
	padding				:2px;
	margin				:2px 0 0;
	margin-top			:2px;
	margin-bottom		:2px;
	min-height			:65px;
}
a.post_reply{
	border				:1px solid #f2f2f2;
	padding				:2px;
	margin-top			:5px;
	background			:#f2f2f2;
}
a.post_reply:hover{
	border				:1px solid #ddd;
	text-decoration		:none;
}
.post-item{
	padding				:0;
	background			:none;
	border				:1px solid #f2f2f2;
	padding				:2px;
	margin				:2px 0 0;
	margin-top			:2px;
	margin-bottom		:2px;
	min-height			:260px;
}
.post .date{
	height				:50px;
	width				:45px;
	color				:#666;
	text-align			:center;
	padding				:0 2px 0 0;
	line-height			:100%;
	float				:left;
	background			:url(images/calendar.gif) no-repeat
}
.post .date span{
	height				:16px;
	display				:block;
	color				:#fff;
	text-align			:center;
	padding-top			:5px
}
.post .title{
	float				:left;
	margin-left			:10px;
	width				:438px
}
.post .title h2{
	list-style			:none
}
.post .title h2 a:hover{
	text-decoration		:underline
}
.postdata{
	color				:#999
}
.postdata a,.postdata a:visited{
	color				:#999;
	text-decoration		:none
}
.postdata a:hover{
	color				:#44a1d0;
	text-decoration		:none
}
.postdata .category{
	background			:url(images/mini-category.gif) no-repeat;
	padding-left		:18px;
	height				:17px;
	float				:left
}
.postdata .comments{
	background			:url(images/mini-comment.gif) no-repeat;
	padding-left		:18px;
	height				:17px;
	float				:right
}
/*end main*/
.mini-add-comment{
	background			:url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left		:12px;
	float				:right
}
.entry{
	padding				:0 0 5px;
	clear				:both
}
.entry p.submeta{
	font-size			:11px
}
/*head box menu 2*/
.head{
	background			:#f2f2f2 url(images/left-h2-bg.gif) repeat-x;
	padding				:3px;
	border				:1px solid #e6e6e6;
	margin-bottom		:-4px
}
.head_title{
	padding				:0 0 0px 18px;
	background			:url(images/sound_grey.png) no-repeat center left;
	background-position	:4px;
}
.box{
	background			:#fff;
	border				:1px solid #f2f2f2;
	padding				:5px;
	margin-top			:5px;
	margin-bottom		:5px
}
/*topik*/
.topik {
	padding				:4px 4px 4px 4px; 
	border				:1px solid #EFE2E1;
	background			:#D6EC7D url(images/left-h2-bg.gif) repeat-x;
	background-position	:5px;
}
.topikjudul{
	padding				:0 0 2px 26px; 
	background			:url(images/tag_blue_edit.png) no-repeat center left;
	background-position	:5px;
}
.normal1 {
	float				:left;
	width				:190px;
	margin				:0;
	padding				:0;
}
.normal2 {
	float				:right;
	width				:190px;
	margin				:0;
	padding				:0;
}
.normal1 ul {
	margin				:0;
	padding				:0 5px 0 5px;
}

.normal1 ul li {
	padding				:3px 0 3px 16px;  /*top right bottom left*/ 
	background			:url(images/sound_grey.png) no-repeat 0 6px;
	list-style-type		:none;
	border-bottom		:1px dotted #ddd;
}
.normal1 ul li:hover {
}

.normal2 ul {
	margin				:0;
	padding				:0 5px 0 5px;
}

.normal2 ul li {
	padding				:3px 0 3px 16px;  /*top right bottom left*/ 
	background			:url(images/sound_grey.png) no-repeat 0 6px;
	list-style-type		:none;
	border-bottom		:1px dotted #ddd;
}
.normal2 ul li:hover {}

/* Footer */
#footer{
	clear				:both;
	color				:#d000;
	background			:url(images/footer.jpg) no-repeat bottom;
	border-top			:0 solid #568EB6;
	height				:0;
	padding				:10px 0 0 0; 
}
#footer a{
	text-decoration		:none;
	color				:#d000
}
.footer-left{
	float				:left;
	padding-left		:20px;
	margin-bottom		:2px
}
.footer-right{
	float				:right;
	padding-right		:20px;
	margin-bottom		:2px
}
.tabel_header{
	border				:1px solid #f2f2f2;
	padding				:8px;
	background-color	:#f2f2f2
}
.gambar{
	clear				:both;
	padding-right		:0;
	padding-left		:0;
	padding-top			:0;
	padding-bottom		:0;
	float				:left;
	width				:20px;
	text-align			:left
}

ul.paging{
	padding:0;
	text-align:center;
	font-weight:bold;
	color				:#3b59aa;
}

ul.paging li{
	padding				:3px 7px 3px 7px;
	margin				:1px;
	display				:inline;
	list-style			:none;
	color				:#3b59aa;
	background			:#f2f2f2 url(images/left-h2-bg.gif) repeat-x;
	border				:1px solid #e6e6e6;
}

ul.paging li.current{
	background-color:#369;
	color				:#000;
}

ul.paging li a{
	font-weight:bold;
	color				:#3b59aa;
	text-decoration:none;
}
ul.paging li a:hover{
	text-decoration:none;
}